<style>
div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }
  a:visited {
    color: #fff;
}
a:link {
    color: #fff;
}
</style>
<div class="dialog">
<h1><u>Listing contacts<u></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.mobile_number %></td>
        <td><button class="btn btn-primary"><%= link_to 'Show', contact %></button></td>
        <td><button class="btn btn-primary"><%= link_to 'Edit', edit_contact_path(contact) %></button></td>
        <td><button class="btn btn-primary"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn btn-primary"><%= link_to 'New Contact', new_contact_path %></button>
</div>
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">