<style>
div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }
  
</style>

<div class="dialog">

<h1><u>Contact</u></h1>
<h3 id="notice"><%= notice %></h3>
<h3>
  <strong>Name:</strong>
  <%= @contact.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @contact.email %>
</h3>

<h3>
  <strong>Mobile number:</strong>
  <%= @contact.mobile_number %>
</h3>

<button><%= link_to 'Edit', edit_contact_path(@contact) %> </button>
<button><%= link_to 'Back', contacts_path %></button>
</div>
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
